<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-autowire="constructor">

	<bean id="autoWiringDAO" class="ex.aaronfae.spring.ch3.AutoWiringDAO" />

	<bean id="autoWiringService" class="ex.aaronfae.spring.ch3.AutoWiringService" />
</beans>